@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  color: var(--text-color);
  text-decoration: none;
  list-style: none;
}

.page {
  font-family: "Zen Maru Gothic", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo,
    sans-serif;
  background-color: var(--background-color);
}

/* ==============================================================
                         ヘッダー
============================================================== */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px 8px 4px;
}

.header__logo {
  width: clamp(200px, 70vw, 400px);
}

.header__menu {
  height: 30px;
}

/* ============================================================
                            メイン
============================================================ */

/* -------------------- アイキャッチ -------------------- */

.eyecatch {
  position: relative;
  width: 90vw;
  margin: 0 auto;
  text-align: center;
}

.eyecatch__img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
}

.eyecatch__title {
  position: absolute;
  top: 20px;
  right: 80px;
  font-family: "Kiwi Maru", serif;
  color: #fff;
}

/* ============================================================
                            フッター
============================================================ */

.footerMain {
  box-sizing: border-box;
  width: 100%;
  padding: 40px 20px;
  background-color: var(--primary-color);
}

.footerMain__inner {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
  max-width: 1024px;
  margin: 0 auto;
}

/* ---------- フッター/店舗情報 ---------- */

.footerMain__shopInfo {
  display: flex;
  flex: 2 1 300px;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.footerMain__logo {
  width: clamp(200px, 40vw, 400px);
}

/* ---------- フッター/ナビゲーション ---------- */

.footerMain__nav {
  flex: 1 1 200px;
}

.footerMain__navList {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-auto-flow: column;
  gap: clamp(0.25rem, -0.114rem + 1.82vw, 1.25rem) 40px;
  place-items: center;
}

.footerMain__navLink {
  font-size: var(--font-size-r);
  line-height: var(--line-height-r);
}

.footerMain__navLink--hover:hover {
  color: var(--accent-color);
  text-decoration: underline;
}

.footerMain__current {
  position: relative;
  display: inline-block;
  padding-bottom: 3px;
  font-size: var(--font-size-r);
  line-height: var(--line-height-r);
}

.footerMain__current::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  content: "";
  background: var(--accent-color);
  border-radius: 3px;
}

/* ---------- フッター/コピーライト ---------- */

.footer__copyright {
  margin: 0 auto;
}

.copyright {
  max-width: 1024px;
  padding: 10px 0;
}

.copyright__text {
  text-align: center;
}

/* ============================================================
                            メデイアクエリ
============================================================ */

@media (width >= 768px) {
  .footerMain__shopInfo {
    flex: 2 1 300px;
  }

  .footerMain__nav {
    flex: 1 1 200px;
  }
}

@media (width <= 767px) {
  .eyecatch__title {
    top: 50%;
    right: auto;
    left: 50%;
    translate: -50% -50%;
  }

  .footerMain__shopInfo {
    flex: 0 1 auto;
  }

  .footerMain__nav {
    flex: 0 1 auto;
  }
}
