@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  color: var(--text-color);
  text-decoration: none;
  list-style: none;
}

.page {
  font-family: "Zen Maru Gothic", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo,
    sans-serif;
  background-color: #fff6df;
}

/* ==============================================================
                         ヘッダー
============================================================== */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px 8px 4px;
}

.header__logo {
  width: clamp(200px, 70vw, 400px);
}

.header__menu {
  height: 30px;
}

/* ============================================================
                            メイン
============================================================ */

/* -------------------- アイキャッチ -------------------- */

.eyecatch {
  position: relative;
  width: 90vw;
  margin: 0 auto;
  text-align: center;
}

.eyecatch__img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
}

.eyecatch__title {
  position: absolute;
  top: 20px;
  right: 80px;
  font-family: "Kiwi Maru", serif;
  color: #fff;
}

/* ============================================================
                            メデイアクエリ
============================================================ */

@media (width <= 767px) {
  .eyecatch__title {
    top: 50%;
    right: auto;
    left: 50%;
    translate: -50% -50%;
  }
}
