@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  color: var(--text-color);
  text-decoration: none;
  list-style: none;
}

.page {
  font-family: "Zen Maru Gothic", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo,
    sans-serif;
  background-color: #fff6df;
}

/* ==============================================================
                         ヘッダー
============================================================== */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px 8px 4px;
}

.header__logo {
  width: clamp(200px, 70vw, 400px);
}

.header__menu {
  height: 30px;
}

/* ============================================================
                            メイン
============================================================ */

/* -------------------- ヒーローセクション -------------------- */

.heroSection {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90vh;
}

.heroSecion__img {
  position: absolute;
  width: 100%;
  height: 90vh;
  object-fit: cover;
}

.heroSecion__slogan {
  position: absolute;
  width: clamp(300px, 50vw, 600px);
}

/* -------------------- メインコンテンツ共通 -------------------- */

.main__contents {
  margin: 0 auto;
}

.mainContents {
  width: 90vw;
  max-width: 1024px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: clamp(2.5rem, 1.591rem + 4.55vw, 5rem);
  align-items: center;
  padding: clamp(2.5rem, 1.136rem + 6.82vw, 6.25rem) 0;
}

.content__title {
  font-size: var(--font-size-2xl);
}

.content__title--accent {
  color: var(--accent-color);
}

.content__detailLink {
  position: relative;
  font-size: var(--font-size-m);
}

.content__detailLink::before {
  position: absolute;
  top: 50%;
  right: -1em;
  z-index: -1;
  width: 2em;
  height: 2em;
  content: "";
  background-color: var(--primary-color);
  border-radius: 50%;
  transform: translateY(-50%);
}

.content__detailLink--hover:hover {
  color: var(--primary-color);
}

.content__detailLink--hover:hover::before {
  right: -1.4em;
  background-color: rgb(95 55 0 / 60%);
}

.mainContents__separator {
  border: none;
  border-top: 4px dotted var(--primary-color);
}

/* ---------- 季節限定メニュー ---------- */

.seasonalMenu__collection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(340px, 100%), 1fr));
  gap: 50px;
  width: 100%;
}

.seasonalMenuItem {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}

.seasonalMenuItem__img {
  width: 90%;
  height: auto;
  aspect-ratio: 4/3;
  object-fit: cover;
  border-radius: 20px;
}

/* ---------- コンセプト ---------- */

.concept__description {
  text-align: center;
}

.concept__img {
  width: clamp(300px, 90vw, 900px);
  border-radius: 20px;
}

/* ============================================================
                            フッター
============================================================ */

.footerMain {
  box-sizing: border-box;
  width: 100%;
  padding: 40px 20px;
  background-color: var(--primary-color);
}

.footerMain__inner {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
  max-width: 1024px;
  margin: 0 auto;
}

/* ---------- フッター/店舗情報 ---------- */

.footerMain__shopInfo {
  display: flex;
  flex: 2 1 300px;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.footerMain__logo {
  width: clamp(200px, 40vw, 400px);
}

/* ---------- フッター/ナビゲーション ---------- */

.footerMain__nav {
  flex: 1 1 200px;
}

.footerMain__navList {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-auto-flow: column;
  gap: clamp(0.25rem, -0.114rem + 1.82vw, 1.25rem) 40px;
  place-items: center;
}

.footerMain__navLink {
  font-size: var(--font-size-r);
  line-height: var(--line-height-r);
}

.footerMain__navLink--hover:hover {
  color: var(--accent-color);
  text-decoration: underline;
}

.footerMain__current {
  position: relative;
  display: inline-block;
  padding-bottom: 3px;
  font-size: var(--font-size-r);
  line-height: var(--line-height-r);
}

.footerMain__current::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  content: "";
  background: var(--accent-color);
  border-radius: 3px;
}

/* ---------- フッター/コピーライト ---------- */

.footer__copyright {
  margin: 0 auto;
}

.copyright {
  max-width: 1024px;
  padding: 10px 0;
}

.copyright__text {
  text-align: center;
}

/* ============================================================
                            メデイアクエリ
============================================================ */

@media (width >= 768px) {
  .footerMain__shopInfo {
    flex: 2 1 300px;
  }

  .footerMain__nav {
    flex: 1 1 200px;
  }
}

@media (width <= 767px) {
  .footerMain__shopInfo {
    flex: 0 1 auto;
  }

  .footerMain__nav {
    flex: 0 1 auto;
  }
}
