@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
}

.heroSection {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90vh;
}

.heroSecion__img {
  position: absolute;
  width: 100%;
  height: 90vh;
  object-fit: cover;
}

.heroSecion__slogan {
  position: absolute;
  width: clamp(300px, 50vw, 600px);
}
