@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  color: var(--text-color);
  text-decoration: none;
  list-style: none;
}

.page {
  font-family: "Zen Maru Gothic", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo,
    sans-serif;
  background-color: var(--background-color);
}

/* ==============================================================
                         ヘッダー
============================================================== */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px 8px 4px;
}

.header__logo {
  width: clamp(200px, 70vw, 400px);
}

.header__navBtn {
  width: 30px;
  height: 30px;
  outline: none;
  background-color: transparent;
  border: none;
}

.open .header__navBtn {
  z-index: 110;
}

.header__navBtnImg {
  width: 100%;
  height: auto;
}

.header__navBtnImg--open {
  display: revert;
}

.open .header__navBtnImg--open {
  display: none;
}

.header__navBtnImg--close {
  display: none;
}

.open .header__navBtnImg--close {
  display: revert;
}

.header__navLink--hover:hover {
  color: var(--accent-color);
}

/* ============================================================
                            メイン
============================================================ */

/* -------------------- アイキャッチ -------------------- */

.eyecatch {
  position: relative;
  width: 100vw;
  margin: 0 auto;
  text-align: center;
}

.eyecatch__img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.eyecatch__title {
  position: absolute;
  top: 20px;
  right: 80px;
  font-family: "Kiwi Maru", serif;
  color: #fff;
}

/* -------------------- 店舗情報 -------------------- */

.info {
  width: 90vw;
  max-width: 1024px;
  padding-top: clamp(2.5rem, 1.591rem + 4.55vw, 5rem);
  padding-bottom: clamp(2.5rem, 1.591rem + 4.55vw, 5rem);
  margin: 0 auto;
}

.info__title {
  margin-bottom: clamp(1.75rem, 0.932rem + 4.09vw, 4rem);
  font-size: var(--font-size-2xl);
  line-height: var(--line-height-2xl);
  text-align: center;
}

/* ---------- 基本情報 ---------- */

.basicInfo {
  display: flex;
  flex-direction: column;
  margin-bottom: clamp(2.5rem, 1.591rem + 4.55vw, 5rem);
}

.info__title--accent {
  color: var(--accent-color);
}

.basicInfo__contents {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.basicInfo__item {
  display: flex;
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
}

.basicInfo__icon {
  width: 1em;
  height: auto;
  margin-right: 4px;
}

.basicInfo__text {
  display: grid;
  grid-template-columns: 2fr 0.5fr 7fr;
  width: 100%;
}

/* ---------- アクセス ---------- */

.access {
  display: flex;
  flex-direction: column;
}

.accessInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.access__item {
  display: flex;
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
}

.access__icon {
  width: 1em;
  height: auto;
  margin-right: 4px;
}

.shopInfo__map {
  position: relative;
  width: 100%;
  max-width: 800px;
  aspect-ratio: 16 / 9;
  margin: 0 auto;
  margin-top: clamp(1.25rem, 0.795rem + 2.27vw, 2.5rem);
}

.shopInfo__map iframe {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

/* ============================================================
                            フッター
============================================================ */

.footerMain {
  box-sizing: border-box;
  width: 100%;
  padding: 40px 20px;
  background-color: var(--primary-color);
}

.footerMain__inner {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
  max-width: 1024px;
  margin: 0 auto;
}

/* ---------- フッター/店舗情報 ---------- */

.footerMain__shopInfo {
  display: flex;
  flex: 2 1 300px;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.footerMain__logo {
  width: clamp(200px, 40vw, 400px);
}

/* ---------- フッター/ナビゲーション ---------- */

.footerMain__nav {
  flex: 1 1 200px;
}

.footerMain__navList {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-auto-flow: column;
  gap: clamp(0.25rem, -0.114rem + 1.82vw, 1.25rem) 40px;
  place-items: center;
}

.footerMain__navLink {
  font-size: var(--font-size-r);
  line-height: var(--line-height-r);
}

.footerMain__navLink--hover:hover {
  color: var(--accent-color);
  text-decoration: underline;
}

.footerMain__current {
  position: relative;
  display: inline-block;
  padding-bottom: 3px;
  font-size: var(--font-size-r);
  line-height: var(--line-height-r);
}

.footerMain__current::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  content: "";
  background: var(--accent-color);
  border-radius: 3px;
}

/* ---------- フッター/コピーライト ---------- */

.footer__copyright {
  margin: 0 auto;
}

.copyright {
  max-width: 1024px;
  padding: 10px 0;
}

.copyright__text {
  text-align: center;
}

/* ============================================================
                            メデイアクエリ
============================================================ */

@media (width >= 768px) {
  /* ============================================================
                            ヘッダー (タブレット以上)
============================================================ */

  .header__navBtn {
    display: none;
  }

  .header__navList {
    display: flex;
    gap: 24px;
    margin-right: 12px;
  }

  .header__navCurrent {
    position: relative;
    display: inline-block;
    padding-bottom: 3px;
    font-size: var(--font-size-r);
    line-height: var(--line-height-r);
  }

  .header__navCurrent::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    content: "";
    background: var(--accent-color);
    border-radius: 3px;
  }

  .header__navLink {
    font-size: var(--font-size-r);
    line-height: var(--line-height-r);
  }

  /* ============================================================
                              フッター (タブレット以上)
  ============================================================ */

  .footerMain__shopInfo {
    flex: 2 1 300px;
  }

  .footerMain__nav {
    flex: 1 1 200px;
  }
}

@media (width <= 767px) {
  /* ============================================================
                            ヘッダー (モバイル)
============================================================ */
  .header__nav {
    position: fixed;
    inset: 0 -100% 0 100%;
    z-index: 100;
    background-color: rgb(243 198 128 /90%);
    transition: transform 0.3s;
  }

  .open .header__nav {
    transform: translate(-100%, 0);
  }

  .open .page {
    overflow: hidden;
  }

  .header__navList {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .header__navCurrent {
    position: relative;
    display: inline-block;
    padding-bottom: 3px;
    font-size: var(--font-size-2xl);
    line-height: var(--line-height-2xl);
  }

  .header__navCurrent::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    content: "";
    background: var(--accent-color);
    border-radius: 3px;
  }

  .header__navLink {
    font-size: var(--font-size-2xl);
    font-weight: bold;
    line-height: var(--line-height-2xl);
  }

  /* ============================================================
                              メイン (モバイル)
  ============================================================ */

  .eyecatch__title {
    top: 50%;
    right: auto;
    left: 50%;
    translate: -50% -50%;
  }

  /* ============================================================
                              フッター(モバイル)
  ============================================================ */

  .footerMain__shopInfo {
    flex: 0 1 auto;
  }

  .footerMain__nav {
    flex: 0 1 auto;
  }
}
